*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}


footer{
    width: 80%;
    padding-top: 40px;
    border-top: 1px solid lightgray;
}

ul{
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.listHeader{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: gray;
}

.listHeader a
{
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.footerLinks
{
    display: flex;
    justify-content: space-between;
}

.socialMedia a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 100%;
}

.socialMedia{
    display: flex;
    gap: 20px;
}

.communication{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.content{
    width: 50%;
    display: flex;
    justify-content: space-between;    
}

.content p{
    margin-bottom: 10px;
    color: gray;
}
.content a{
    color: black;
    font-weight:600;
}


nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLinks {
  display: flex;
  justify-content: space-between;
  gap: 40px;

}

.navbarLinks a{
    color: black;
    font-weight: 600;
    font-size: 18px;
}

img{
    width: 150px;
}

.navButton{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(255, 204, 0);
    border-color: rgb(255, 204, 0);
    border-radius: 100%;
    padding: 15px;

}

.links{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 40px;
  
}


.newsCards{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
}

.card{
   border: 1px solid lightgray;
   border-radius: 10px;
   padding: 30px;
}

.card h3{
    padding-bottom: 25px;
}

.newsText{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.newsText a{
    color: rgb(50, 178, 214);
    font-weight: 600;
}

.newsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsSection h2{
    align-self: flex-start;
    padding-bottom: 20px;
}

.newsSection button{
    background-color: white;
    border: 1px solid  rgb(50, 178, 214);
    color:  rgb(50, 178, 214);
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
}

.newsSection button:hover{
    background-color: rgb(50, 178, 214);
    color: white;
}